.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #f2f2f3;
  background-color: #131316;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
}

.message {
  margin: 120px auto;
  text-align: center;
}

.detailPageWrap {
  margin: 120px auto;
}

.detailHeader {
  text-align: center;
}
