.header {
  background-color: var(--background);
}
.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex-basis: 35%;
  padding: 16px 20px 16px 20px;
  gap: 8px;
  align-items: center;
}

.link {
  display: flex;
  text-decoration: none;
  color: var(--text-inactive-color);
  font-family: 'Jet Brains Mono';
}

.link_active {
  color: var(--text-primary-color);
}

.link_position_last {
  display: flex;
  justify-content: flex-end;
  flex-basis: 35%;
  padding: 16px 20px 16px 20px;
  gap: 8px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}


