.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: #f2f2f3;
  font-family: 'Jet Brains Mono', serif;
}

p {
  margin: 0;
}

.content {
  overflow-y: scroll;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
